.receitas-bg {
    background: url(../../img/receita-background.png);
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
    padding-top: 1px;
}

.receita-text {
    position: relative;
    z-index: 19;
}

.trigo-svg {
    width: 50px;
    position: absolute;
    top: 150px;
    left: 400px;
}

.queijo-svg {
    width: 50px;
    position: absolute;
    top: 280px;
    left: 300px;
}

.azeite-svg {
    width: 100px;
    position: absolute;
    top: 255px;
    left: 370px;
    z-index: 6;
}

.tempo-box {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 20px;
    font-style: italic;
}

.preparo-box {
    width: 50%;
}

.massa-title {
    font-size: 3rem;
    margin-bottom: 30px;
    position: relative;
    letter-spacing: -0.75px;
}

.massa-title::before {
    position: absolute;
    top: 48px;
    left: -5px;
    content: '';
    width: 20px;
    height: 5px;
    background: #EEE600;
    z-index: -2;
    border-radius: 0.25rem;
}

.massa-list {
    list-style: disc;
}

.massa-list h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.massa-list li {
    margin-left: 40px;
    margin-bottom: 20px;
}

.massa-list-preparo {
    list-style: decimal;
    width: 85%;
}
.massa-list-preparo li {
    margin-left: 40px;
    margin-bottom: 20px;
}

.massa-list-preparo h3 {
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cardapio-sugestao-title {
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: -0.75px;
    font-family: 'Belleza', sans-serif;
    margin-bottom: 40px;
    position: relative;
}

.cardapio-sugestao-title::before {
    position: absolute;
    top: 40px;
    left: -5px;
    content: '';
    width: 30px;
    height: 5px;
    background: #EEE600;
    z-index: -2;
    border-radius: 0.25rem;
}

.cardapio-sugestao-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}