.header-menu {
    max-width: 1400px;
    width: 100%;
}

.header-highlight {
    display: none;
    overflow: hidden;
    position: relative;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}
  
.text-highlight {
    animation: move 10s linear infinite;
}
  
@keyframes move {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
}

@media (max-width: 450px) {
  .logo-icon {
    width: 30px;
  }
  .logo-text {
    font-size: 12px;
  }
}