.admin-bg {
    background: #fff;
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: 100%;
    padding-top: 1px;
    padding-bottom: 60px;
}